<div class="row mt-5">
  <div class="col-lg-6 mx-auto">
    <h2>Posts</h2>
    <ng-container *ngIf="publicacion">
      <div class="alert alert-info">
        <div *ngIf="publicacion.length > 0; else noPosts">
          <div *ngFor="let post of publicacion">
            <div class="alert alert-info">
              <h3>{{ post.title }}</h3>
              <p>{{ post.body }}</p>
              <p>
                <i class="bi bi-chat-left-text"></i>
                Comments: {{ post.reactions }}
              </p>

            </div>
          </div>
        </div>
        <ng-template #noPosts>
          <p>No posts available.</p>
        </ng-template>
        <p>
          <i class="bi bi-journal-text"></i>
          Number of posts: {{ countPublicaciones() }}
        </p>
      </div>
    </ng-container>
  </div>
</div>
