/* Estilo para el título 'Posts' */
h2 {
    color: black;
    font-size: 24px; 
    font-weight: bolder;
  }
  
  /* Estilo para los títulos de los posts */
  h3 {
    color: black;
    font-size: 18px; 
  }
  
  /* Estilo para los párrafos */
  p {
    color: black;
    font-size: 16px; 
  }

  
  .bold {
    font-weight: bold;
  }

  .custom-icon {
    font-size: 24px; /* Tamaño más grande */
    color: #333; /* Color más oscuro */
    border-width: 4px; /* Grosor del borde aumentado a 4px*/
    padding: 6px; /* Espaciado interior para el borde */
}
