<div class="row mt-5">
  <div class="col-lg-6 mx-auto">
    <h2>Publicaciones</h2>
    <ng-container *ngIf="publicacion">
      <div class="alert alert-info">
        <div *ngIf="publicacion.length > 0; else noPosts">
          <div *ngFor="let post of publicacion">
            <div class="alert alert-info">
              <h3>Título: {{ post.title }}</h3>
              <p>Cuerpo: {{ post.body }}</p>
            </div>
          </div>
        </div>
        <ng-template #noPosts>
          <p>No hay publicaciones.</p>
        </ng-template>
        <p>
          <i class="bi bi-journal-text"></i>
          Cantidad de publicaciones: {{ countPublicaciones() }}
        </p>
      </div>
    </ng-container>
  </div>
</div>
